# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Anders Bälter
	email = anders@84codes.com
[difftool]
	prompt = false
[core]
	editor = vim
	excludesfile = /Users/anders/.gitignore_global
	attributesfile = /Users/anders/.gitattributes
[rerere]
	enabled = 1
[credential]
	helper = osxkeychain
[merge]
	tool = opendiff
[diff]
  tool = opendiff
[mergetool]
	prompt = false
	keepBackup = false
[merge "keepMine"]
	name = always keep mine during merge
	driver = keepMine.sh %O %A %B
